node_modules
dist
coverage
.git
.github
.husky
.env
.env.local
*.log
.DS_Store
.vscode
.idea
test
**/*.test.ts
README.md
.editorconfig
.nvmrc
.prettierrc.json
.prettierignore
eslint.config.js
vitest.config.ts
